.admin-content  
  %h1 Guests
  %table
    %thead
      %tr
        %th ID
        %th Name
        %th Email
        %th Short URL key
        %th Actions
    %tbody
      - @guests.each do |guest|
        %tr
          %td= guest.id
          %td= guest.name
          %td= guest.email
          %td= guest.shortened_urls.first.unique_key
          %td
            = link_to 'Show', admin_guest_path(guest)
            |
            = link_to 'Edit', edit_admin_guest_path(guest)
            |
            = link_to 'Destroy', admin_guest_path(guest), method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Guest', new_admin_guest_path
  / |
  / = link_to "Download Guest List", admin_guest_path(:format => :xls)
  |
  = link_to 'View RSVPs', admin_root_path
  

