.box.transparent_white
  .row
    .large-12.columns
      %h2.articleTitle RSVP by 7/27/14
  .row
    .large-12.columns &nbsp;
  .row
    .large-12.columns
      %h3.articleSubTitle
        = rsvp_message(@response)
      .rsvp_inner_box
        - if @response.errors.any?
          .alert-box{"data-alert" => ""}
            - @response.errors.messages.each do |msg|
              = msg[1][0]
            %a.close{href: "#", onclick: "$('.alert-box').hide(); return false"} ×
        .row
          .large-1.columns &nbsp;
          .large-5.columns
            %button{type: "button", id: "coming-button", :class => coming_class(@response.coming)}
              %i{:class => 'fa fa-smile-o fa-lg'} 
              &nbsp; Yay, We're Coming!
          .large-5.columns
            %button{type: "button", id: "not-coming-button", :class => not_coming_class(@response.coming)} 
              %i{:class => 'fa fa-frown-o fa-lg'} 
              &nbsp; Boo, We Can't Make It.
          .large-1.columns &nbsp;
        .row
          .large-12.columns &nbsp;
        #not_coming_message{:class => not_coming_message_class(@response.coming)}
          .row
            .large-12.columns
              %p We're sorry you can't make it! 
              %p Make sure to save your RSVP anyway by clicking on the big blue button.
              %p &nbsp;
        #form_container{:class => form_container_class(@response.coming)}
          = form_for [:admin, @response], remote: true do |f|
            .row.hidden
              .large-12.columns
                = f.radio_button :coming, true, {placeholder: "large-2.columns"}
                = f.radio_button :coming, false, {placeholder: "large-2.columns"}
            .row
              .large-1.columns &nbsp;
              .large-2.columns
                = f.label :adults
                = f.select :adults, [1, 2], {placeholder: "large-2.columns"}
              .large-2.columns
                = f.label :children
                = f.select :children, [0, 1, 2, 3, 4, 5], {placeholder: "large-2.columns"}
              .large-6.columns
                = f.label :friday_reception
                = f.select :friday_reception, [["We're coming to the Friday reception",true], ["We are not coming to the Friday reception", false]], {placeholder: "large-3.columns"}
              .large-1.columns &nbsp;
            .row
              .large-1.columns &nbsp;
              .large-10.columns
                = f.label :comments
                = f.text_area :comments
                - if !@guest.blank?
                  .field
                    = f.hidden_field :guest_id, :value => @guest.id
                
              .large-1.columns &nbsp;
          .row
            .large-12.columns &nbsp;
        .row
          .large-12.columns
            %button{type: "button", id: "rsvp_button", :class => "large button [radius round] center"}      
              = rsvp_button(@response)