.box.transparent_white
  .alert-box.hide{"data-alert" => "This is an alert"}
    / Your content goes here
    %a.close{href: "#"} ×
  -if @response.coming
    %h3.articleSubTitle We can't wait to see you! Here is your RSVP confirmation
    .rsvp_inner_box
      %p 
        = rsvp_number_of_guests(@response)
      %p 
        = rsvp_friday_thingie(@response)
      -if rsvp_comments(@response)
        %p
          = rsvp_comments(@response)
  -else
    %h3.articleSubTitle We'll miss you! Let us know if you change your mind.
    .rsvp_inner_box
  %p= link_to "Change My RSVP", "javascript:void();", {:class => "large button [radius round]", :onclick => "$('#rsvp_content').html('#{escape_javascript(render :partial => 'partials/form')}');"}
  