= form_for [:admin, @response] do |f|
  - if @response.errors.any?
    #error_explanation
      %h2
        = pluralize(@response.errors.count, "error")
        prohibited this response from being saved:
      %ul
        - @response.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :children
    = f.select :children, [1, 2, 3, 4]
  .field
    = f.label :adults
    = f.select :adults, [1, 2]
  .field
    = f.label :comments
    = f.text_area :comments
  .actions
    = f.submit