#topbar.contain-to-grid.sticky
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1
          %a{href: "#"} David and Michael's Wedding
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li
          = link_to "Home", "#", {:id => "home_link", :name => "home", "data-no-turbolink" => ""}
        %li
          = link_to "Schedule of Events", "#", {:id => "schedule_link", :name => "schedule", "data-no-turbolink" => ""}
        %li
          = link_to "Directions to Venues", "#", {:id => "directions_link", :name => "directions", "data-no-turbolink" => ""}
        %li
          = link_to "Gift Registry", "#", {:id => "registry_link", :name => "registry", "data-no-turbolink" => ""}
        %li
          = link_to "RSVP", "#", {:id => "rsvp_link", :name => "rsvp", "data-no-turbolink" => ""}

%section#home{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      %span.clip-me
        - if @guest.blank?
          You Are Invited
        - else
          #{@guest.name}, You Are Invited
    .box.transparent_white
      .row
        .large-6.columns
          =image_tag "davidandmichael.jpg"
        .large-6.columns
          %h3.articleSubTitle.left-align To David and Michael's Wedding
          %p.left-align We started on this expedition almost 19 years ago and on September 27th we're making a stop to celebrate. 
          %p.left-align We are so grateful to have all of you in our lives and would be honored if you’d join us in celebration of the life we’ve created together and the journey ahead.
%section#schedule.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Schedule of Events
    .box.transparent_white
      %ul.small-block-grid-3
        %li
          %h3.articleSubTitle Don't be tardy for the party
          %h4.date Friday, 9/26/14
          %p David’s parents, Gary Olem And Michele Riu Olem invite you to join them for a reception at the Redwood Grove at Samuel Taylor State Park, from 4:00 PM to 7:00 PM.
        %li
          %h3.articleSubTitle Saturday 9/27/14
        %li
          %h3.articleSubTitle Sunday 9/28/14
%section#directions.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Directions to Venues
    .box.transparent_white
      %ul.small-block-grid-2
        %li
          %h3.articleSubTitle Samuel P. Taylor Redwood Grove
          =image_tag "samuel-p-taylor.png", {:width => "350"}
        %li
          %h3.articleSubTitle Point Reyes Seashore Lodge
          =image_tag "point-reyes-seashore-lodge.png", {:width => "350"} 
%section#registry.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Gift Registry
    .box.transparent_white
      %h3.articleSubTitle Call or fill out this form
%section#rsvp.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle RSVP by 7/27/14
    #rsvp_content
      - if !@guest.blank?
        - if @guest.response
          = render 'partials/show'
        - else
          = render 'partials/form'
      - else
        = render 'partials/default'
          
      
        
      