%section#home{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      - if @guest.blank?
        You are
      - else
        #{@guest.name}, you are
      %span.yellow invited
    %h3.articleSubTitle.textShadow To David and Michael's Wedding
    =image_tag "davidandmichael.jpg"
%section#schedule.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Don't Be Tardy for the
      %span.yellow Party
    %h3.articleSubTitle.textShadow Friday 9/26/14
%section#directions.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Directions to
      %span.yellow venues
      %h3.articleSubTitle.textShadow Redwood grove
      .box.transparent_white
        %p This is the map to the redwood grove
%section#registry.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Gift
      %span.yellow registry
    %h3.articleSubTitle.textShadow Call or fill out this form
%section#rsvp.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Remember to 
      %span.yellow RSVP
    %h3.articleSubTitle.textShadow Remember to RSVP
    - unless @guest.blank?
      = render 'partials/form'
      
#nav.transparent_white
  .links
    = link_to "Home", "#", {:id => "home_link", :onclick => "$('html, body').animate({ scrollTop: parseInt($('#home').offset().top) }, 1000); return false;"}
    |
    = link_to "Schedule", "#", {:id => "schedule_link", :onclick => "$('html, body').animate({ scrollTop: parseInt($('#schedule').offset().top) }, 1000); return false;"}
    |
    = link_to "Directions", "#", {:id => "directions_link", :onclick => "$('html, body').animate({ scrollTop: parseInt($('#directions').offset().top) }, 1000); return false;"}
    |
    = link_to "Registry", "#", {:id => "registry_link", :onclick => "$('html, body').animate({ scrollTop: parseInt($('#registry').offset().top) }, 1000); return false;"}
    |
    = link_to "RSVP", "#", {:id => "rsvp_link", :onclick => "$('html, body').animate({ scrollTop: parseInt($('#rsvp').offset().top) }, 1000); return false;"}
  
