#topbar.contain-to-grid.sticky
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1
          %a{href: "#"} David and Michael's Wedding
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li
          = link_to "Home", "#", {:id => "home_link", :name => "home", "data-no-turbolink" => ""}
        %li
          = link_to "Schedule of Events", "#", {:id => "schedule_link", :name => "schedule", "data-no-turbolink" => ""}
        %li
          = link_to "Directions to Venues", "#", {:id => "directions_link", :name => "directions", "data-no-turbolink" => ""}
        %li
          = link_to "Accommodations & Resources", "#", {:id => "registry_link", :name => "registry", "data-no-turbolink" => ""}
        %li
          = link_to "RSVP", "#", {:id => "rsvp_link", :name => "rsvp", "data-no-turbolink" => ""}

%section#home{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      %span.clip-me
        - if @guest.blank?
          You Are Invited
        - else
          #{@guest.name}, You Are Invited
    .box.transparent_white
      .row
        .large-6.columns
          =image_tag "davidandmichael.jpg"
        .large-6.columns
          %h3.articleSubTitle.left-align To David and Michael's Wedding
          %p.left-align We started on this expedition almost 19 years ago and on September 27th we're making a stop to celebrate. 
          %p.left-align We are so grateful to have all of you in our lives and would be honored if you’d join us in celebration of the life we’ve created together and the journey ahead.
          %p.left-align Come back to this website using the link in your email to get updates, or to view or change your RSVP details.
%section#schedule.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Schedule of Events
    .box.transparent_white
      .row
        .large-6.columns
          %h3.articleSubTitle
            %i{:class => "fa fa-moon-o"}
            = "Friday Evening, 9/26/14"
          %h3.subhead Don't be Tardy for the Party
          %p.left-align David’s parents, Gary Olem And Michele Riu Olem invite you to join them for a reception at the Redwood Grove at Samuel Taylor State Park from 4:00 PM to 7:00 PM.
        .large-6.columns
          %h3.articleSubTitle
            %i{:class => "fa fa-sun-o"}
            = "Saturday Afternoon, 9/27/14"
          %h3.subhead Be Punctual for the Nuptials
          %p.left-align A short ceremony will take place at 3:00 PM on the lawn behind the Lodge. It will be followed by a cocktail hour and then a buffet dinner from 4:30 PM to 7:30PM.
      .row
        .large-12.columns
          %p &nbsp;
      .row
        .large-6.columns
          %h3.articleSubTitle
            %i{:class => "fa fa-moon-o"}
            = "Saturday Night, 9/27/14"
          %h3.subhead It’d Be Great if You Stay Late
          %p.left-align Come on over to The Farmhouse next door and dance from 8:00 PM ‘til midnight.
        .large-6.columns
          %h3.articleSubTitle 
            %i{:class => "fa fa-sun-o"}
            = "Sunday Morning, 9/27/14"
          %h3.subhead Feel Free to Come Get Some Tea
          %p.left-align 
            = "We will be meeting up at the " 
            = link_to "The Station House Cafe", "http://www.stationhousecafe.com", {:target => "_blank"}
            = " for Brunch at 11:00 AM"
      .row
        .large-12.columns
          %p &nbsp;
%section#directions.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Directions to Venues
    .box.transparent_white
      .row
        .large-4.columns
          %iframe{height: "300", src: "https://mapsengine.google.com/map/embed?mid=zKrGm4LOgjlw.kLp3uxn0B4i0", width: "95%"}
          %p.left-align The Samuel P Taylor redwood grove is a short drive from Olema on Sir Francis Drake. 
        .large-4.columns
          %iframe{height: "300", src: "https://mapsengine.google.com/map/embed?mid=zKrGm4LOgjlw.kwIfxax1grNE", width: "95%"}
          %p.left-align The Point Reyes Seashore Lodge is at the intersection of Sir Francis Drake and Highway 1
        .large-4.columns
          %iframe{height: "300", src: "https://mapsengine.google.com/map/embed?mid=zKrGm4LOgjlw.kZpBxZo4JOwc", width: "95%"}
          %p.left-align The Station House Cafe is located in Point Reyes Station, just a short drive up Highway 1 from Olema
%section#registry.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Accomodations & Resources
    .box.transparent_white
      .row
        .large-6.columns
          %h3.articleSubTitle Accommodations
          %p.left-align 
            = link_to "The Point Reyes Seashore Lodge", "http://www.pointreyesseashore.com", {:target => "_blank"}
            %br
              = "You can only make reservations by phone: 415-663-9000"
          %p.left-align
            = link_to "Roundstone Farm", "http://www.roundstonefarm.com", {:target => "_blank"}
          %p.left-align
            = link_to "Alta Olema", "http://altaolema.com/rooms.html", {:target => "_blank"}
          %p.left-align
            = link_to "The Bear Inn", "http://www.bearvinn.com", {:target => "_blank"}
          %p.left-align
            = link_to "Olema Cottages", "http://vacationrentalspointreyes.com", {:target => "_blank"}
          %p.left-align
            = link_to "Camping", "http://www.olemacampground.net/location-and-directions.html", {:target => "_blank"}
          %p.left-align
            = link_to "The Tomales Bay Resort", "http://www.tomalesbayresort.com", {:target => "_blank"}
        .large-6.columns
          .row
            %h3.articleSubTitle Childcare
          .row
            %h3.articleSubTitle Gift Registry
%section#rsvp.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle RSVP by 7/27/14
    #rsvp_content
      - if !@guest.blank?
        - if @guest.response
          = render 'partials/show'
        - else
          = render 'partials/form'
      - else
        = render 'partials/default'

- if @guest && @guest.departure_city
  %section#animation-map{'data-origin' => @guest.departure_city}
  :javascript
    window.animationMap = new WS.AnimationMap('animation-map').init();
