.contain-to-grid.sticky
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1
          %a{href: "#"} David and Michael's Wedding
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li
          = link_to "Home", "#", {:id => "home_link", :name => "home", "data-no-turbolink" => ""}
        %li
          = link_to "Schedule of Events", "#", {:id => "schedule_link", :name => "schedule", "data-no-turbolink" => ""}
        %li
          = link_to "Directions to Venues", "#", {:id => "directions_link", :name => "directions", "data-no-turbolink" => ""}
        %li
          = link_to "Gift Registry", "#", {:id => "registry_link", :name => "registry", "data-no-turbolink" => ""}
        %li
          = link_to "RSVP", "#", {:id => "rsvp_link", :name => "rsvp", "data-no-turbolink" => ""}

%section#home{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      - if @guest.blank?
        You Are
      - else
        #{@guest.name}, You Are
      %span.yellow Invited
    %h3.articleSubTitle.textShadow To David and Michael's Wedding
    =image_tag "davidandmichael.jpg"
%section#schedule.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Don't Be Tardy for the
      %span.yellow Party
    %h3.articleSubTitle.textShadow Friday 9/26/14
%section#directions.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Directions to
      %span.yellow Venues
      %h3.articleSubTitle.textShadow Redwood grove
      .box.transparent_white
        %p This is the map to the redwood grove
%section#registry.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Gift
      %span.yellow Registry
    %h3.articleSubTitle.textShadow Call or fill out this form
%section#rsvp.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Remember to 
      %span.yellow RSVP
    %h3.articleSubTitle.textShadow Remember to RSVP
    - unless @guest.blank?
      = render 'partials/form'
