#topbar.contain-to-grid.sticky
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1
          %a{href: "#"} David and Michael's Wedding
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li
          = link_to "Home", "#", {:id => "home_link", :name => "home", "data-no-turbolink" => ""}
        %li
          = link_to "Schedule of Events", "#", {:id => "schedule_link", :name => "schedule", "data-no-turbolink" => ""}
        %li
          = link_to "Directions to Venues", "#", {:id => "directions_link", :name => "directions", "data-no-turbolink" => ""}
        %li
          = link_to "Accommodations & Resources", "#", {:id => "registry_link", :name => "registry", "data-no-turbolink" => ""}
        %li
          = link_to "RSVP", "#", {:id => "rsvp_link", :name => "rsvp", "data-no-turbolink" => ""}

%section#home{"data-speed" => "2", "data-type" => "background"}
  .content
    .box.transparent_white.noisy
      .row
        .large-12.columns
          -if !@guest.blank?
            %h3.articleSuperTitle 
              = @guest.name
          %h2.articleTitle You Are Invited 
      .row
        .large-12.columns &nbsp;
      .row.home_message
        .large-1.columns.buffer &nbsp;
        .large-4.columns
          =image_tag "photo.JPG", {:height => "300", :width => "300"}
        .large-6.columns.copy
          %h3.articleSubTitle.left-align To David and Michael's Wedding
          %p.left-align 
            = "We started on this expedition almost 19 years ago and on September 27th, 2014, we're making a stop to celebrate at the "
            = link_to "Point Reyes Seashore Lodge.", "http://http://www.pointreyesseashore.com/", {:target => "_blank"} 
          %p.left-align We are so grateful to have all of you in our lives and would be honored if you’d join us in celebration of the life we’ve created together and the journey ahead.
          %p.left-align Come back to this website using the link in your email to get updates, or to view or change your RSVP details.
        .large-1.columns.buffer &nbsp;
%section#schedule.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    .box.transparent_white
      .row
        .large-12.columns
          %h2.articleTitle Schedule of Events
      .row
        .large-12.columns &nbsp;
      .row
        .large-1.columns{:style => "padding-right: 0px"}
          %h3.icon
            %i{:class => "fa fa-moon-o"}
        .large-5.columns
          %h3.articleSubTitle.left-align
            = "Friday Evening, 9/26/14"
          %h3.subhead.left-align Don't be Tardy for the Party &hellip; 
          %p.left-align.small-top-cell David’s parents, Gary Olem And Michele Riu Olem invite you to join them for a reception at the Redwood Grove at Samuel Taylor State Park from 4:00 PM to 7:00 PM.
        .large-1.columns{:style => "padding-right: 0px"}
          %h3.icon
            %i{:class => "fa fa-sun-o yellow"}
        .large-5.columns
          %h3.articleSubTitle.left-align
            = "Saturday Afternoon, 9/27/14"
          %h3.subhead.left-align Be Punctual for the Nuptials &hellip; 
          %p.left-align.col2 A short ceremony will take place at 3:00 PM on the lawn behind the Lodge. It will be followed by a cocktail hour and then a buffet dinner from 4:30 PM to 7:30 PM.
      .row
        .large-12.columns &nbsp;
      .row
        .large-1.columns{:style => "padding-right: 0px"}
          %h3.icon
            %i{:class => "fa fa-moon-o"}
        .large-5.columns
          %h3.articleSubTitle.left-align
            = "Saturday Night, 9/27/14"
          %h3.subhead.left-align It’d Be Great if You Stay Late &hellip; 
          %p.left-align.small-top-cell Come on over to The Farmhouse next door and dance from 8:00 PM ‘til midnight.
        .large-1.columns{:style => "padding-right: 0px"}
          %h3.icon
            %i{:class => "fa fa-sun-o yellow"}
        .large-5.columns
          %h3.articleSubTitle.left-align 
            = "Sunday Morning, 9/28/14"
          %h3.subhead.left-align Feel Free to Spill the Tea &hellip; 
          %p.left-align.col2 
            = "We will be meeting up at the " 
            = link_to "The Station House Cafe", "http://www.stationhousecafe.com", {:target => "_blank"}
            = " for Brunch at 11:00 AM."
      .row
        .large-12.columns &nbsp;
      .row
        .large-12.columns
          %h3.articleSubTitle 
            %i Dress code is Glitter Optional
      .row
        .large-12.columns &nbsp;
%section#directions.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    .box.transparent_white
      .row
        .large-12.columns
          %h2.articleTitle Directions to Venues
      .row
        .large-12.columns &nbsp;
      .row
        .large-4.columns
          %h3.subhead Samuel P Taylor Redwood Grove
          %iframe.map{src: "https://mapsengine.google.com/map/embed?mid=zKrGm4LOgjlw.kLp3uxn0B4i0"}
          %p.left-align.note The Samuel P Taylor redwood grove is a short drive from Olema on Sir Francis Drake. 
        .large-4.columns
          %h3.subhead Point Reyes Seashore Lodge
          %iframe.map{src: "https://mapsengine.google.com/map/embed?mid=zKrGm4LOgjlw.kwIfxax1grNE"}
          %p.left-align.note The Point Reyes Seashore Lodge is at the intersection of Sir Francis Drake and Highway 1.
        .large-4.columns
          %h3.subhead Station House Cafe
          %iframe.map{src: "https://mapsengine.google.com/map/embed?mid=zKrGm4LOgjlw.kZpBxZo4JOwc"}
          %p.left-align.note The Station House Cafe is located in Point Reyes Station, just a short drive up Highway 1 from Olema.
      .row
        .large-12.columns &nbsp;
%section#registry.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    .box.transparent_white
      .row
        .large-12.columns
          %h2.articleTitle.break-word Accomodations & Resources
      .row
        .large-12.columns &nbsp;
      .row
        .large-1.columns.buffer &nbsp;
        .large-5.columns
          %h3.subhead.left-align Accommodations
          %p.left-align.nomargin
            = link_to "The Point Reyes Seashore Lodge", "http://www.pointreyesseashore.com", {:target => "_blank"}
          %p.left-align.note
            %i Reservations by phone only: 415-663-9000
          %p.left-align
            = link_to "Roundstone Farm", "http://www.roundstonefarm.com", {:target => "_blank"}
          %p.left-align
            = link_to "Alta Olema", "http://altaolema.com/rooms.html", {:target => "_blank"}
          %p.left-align
            = link_to "The Bear Inn", "http://www.bearvinn.com", {:target => "_blank"}
          %p.left-align
            = link_to "Olema Cottages", "http://vacationrentalspointreyes.com", {:target => "_blank"}
          %p.left-align.nomargin
            = link_to "The Tomales Bay Resort", "http://www.tomalesbayresort.com", {:target => "_blank"}
          %p.left-align.note
            %i This hotel is a 10 minute drive from Olema but only has a one night minumum

        .large-5.columns          
          %h3.subhead.left-align Camping
          %p.left-align
            = link_to "Olema Campground", "http://www.olemacampground.net/location-and-directions.html", {:target => "_blank"}
          %h3.subhead.left-align Childcare
          %p.left-align.nomargin 
            = link_to "Papermill Creek Children’s Corner", "http://www.yelp.com/biz/papermill-creek-childrens-corner-point-reyes-station", {:target => "_blank"}
          %p.left-align.note
            %i Telephone: 415-663-9114
          %h3.subhead.left-align Transportation
          %p.left-align.nomargin 
            = link_to "Marin door to door", "http://www.marindoortodoor.com", {:target => "_blank"}
          %p.left-align.note
            %i Telephone: 415-663-9114

        .large-1.columns.buffer &nbsp;
      .row
        .large-12.columns &nbsp;
      .row
        .large-1.columns.buffer &nbsp;
        .large-10.columns
          .honeymoon-registry
            %h3.subhead.left-align 
              = "Honeymoon Registry" 
              %i{:class => "fa fa-gift fa-lg"}
            %p.left-align
              = "Your presence at our wedding is the greatest gift of all. However, if you would like to honor us with a gift, you may"
              = link_to " contribute to our honeymoon here.", "http://www.backroads.com", {:target => "_blank"}
        .large-1.columns.buffer &nbsp;
      .row
        .large-12.columns &nbsp;

%section#rsvp.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    #rsvp_content
      - if !@guest.blank?
        - if @guest.response
          = render 'partials/show'
        - else
          = render 'partials/form'
      - else
        = render 'partials/default'

- if @guest && @guest.departure_city
  %section#animation-map{'data-origin' => @guest.departure_city}
    %h2.articleTitle
      = "Have a nice trip!"
  :javascript
    window.animationMap = new WS.AnimationMap('animation-map').init();
