.contain-to-grid.sticky
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1
          %a{href: "#"} David and Michael's Wedding
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li
          = link_to "Home", "#", {:id => "home_link", :name => "home", "data-no-turbolink" => ""}
        %li
          = link_to "Schedule of Events", "#", {:id => "schedule_link", :name => "schedule", "data-no-turbolink" => ""}
        %li
          = link_to "Directions to Venues", "#", {:id => "directions_link", :name => "directions", "data-no-turbolink" => ""}
        %li
          = link_to "Gift Registry", "#", {:id => "registry_link", :name => "registry", "data-no-turbolink" => ""}
        %li
          = link_to "RSVP", "#", {:id => "rsvp_link", :name => "rsvp", "data-no-turbolink" => ""}

%section#home{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      - if @guest.blank?
        You Are Invited
      - else
        #{@guest.name}, You Are Invited
    .box.transparent_white
      %h3.articleSubTitle To David and Michael's Wedding
      =image_tag "davidandmichael.jpg"
%section#schedule.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Schedule of Events
    .box.transparent_white
      %ul.small-block-grid-3
        %li
          %h3.articleSubTitle Friday 9/26/14
        %li
          %h3.articleSubTitle Saturday 9/27/14
        %li
          %h3.articleSubTitle Sunday 9/28/14
%section#directions.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Directions to Venues
    .box.transparent_white
      %ul.small-block-grid-2
        %li
          %h3.articleSubTitle Samuel P. Taylor Redwood Grove
          =image_tag "samuel-p-taylor.png", {:width => "350"}
        %li
          %h3.articleSubTitle Point Reyes Seashore Lodge
          =image_tag "point-reyes-seashore-lodge.png", {:width => "350"} 
%section#registry.boxShadow{"data-speed" => "4", "data-type" => "background"}
  .content
    %h2.articleTitle.textShadow
      Gift Registry
    .box.transparent_white
      %h3.articleSubTitle Call or fill out this form
%section#rsvp.boxShadow{"data-speed" => "2", "data-type" => "background"}
  .content
    %h2.articleTitle RSVP by 7/27/14
    #rsvp_content
      - if !@guest.blank?
        - if @guest.response
          = render 'partials/show'
        - else
          = render 'partials/form'
      - else
        = render 'partials/default'
          
      
        
      