%h1 RSVPs
%table
  %thead
    %tr
      %th Guest Name
      %th Adults Attending
      %th Children Attending
      %th Comments
      %th 
      %th
      %th
  %tbody
    - @responses.each do |response|
      %tr
        %td= Guest.find(response.guest_id).name
        %td= response.adults
        %td= response.children
        %td= response.comments
        %td= link_to 'Show', admin_response_path(response)
        %td= link_to 'Edit', edit_admin_response_path(response)
        %td= link_to 'Destroy', admin_response_path(response), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Response', new_admin_response_path
